.image {
  width: 40px;
  height: 40px;
}

.bloc {
  width: 40%;

}

.textbloc{
  display: flex;
  justify-content: center;
}

.textcentre{
  text-align: center;

}

.container {
  display: grid;
  grid-template-columns: 100px 300px 300px 300px;
  grid-template-rows: auto;
  grid-template-areas:
    " main7 main8 . ."
    ". main1 main2 ."
    ". main3 main4."
    ". main5 main6.";
}

.item-1 {
  grid-area: main1;
  text-align: center;
}

.item-2 {
  grid-area: main2;
  text-align: center;
}

.item-3 {
  grid-area: main3;
  text-align: center;
}

.item-4 {
  grid-area: main4;
  text-align: center;
}

.item-5 {
  grid-area: main5;
  text-align: center;
}

.item-6 {
  grid-area: main6;
  text-align: center;
}

.item-image{
  grid-area: main7;
  text-align: center;
}

.item-nom{
  grid-area: main8;
  text-align: center;
}

/*.video-youtube{
  position: absolute;
  top: 0; right: 0; !* confuse it i guess *!
  bottom: 0; left: 0;
  margin: auto; !* make em equal *!
}*/

.frame {
  width: 560px;
  display: block;
  margin: 0 auto;
}

