<div style="display: flex; justify-content: center;">
    <mat-card style="width: 40%;">
        <mat-card-header>
            <mat-card-subtitle>
                Vidéo pour réaliser soi-même son potager.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <iframe style="width: 560px; display: block; margin: 0 auto;" class="frame" width="560" height="315"
                src="https://www.youtube.com/embed/G4BlA68xs9Y" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </mat-card-content>
    </mat-card>
</div>