#potager {
    width: fit-content;
    min-width: 300px;
    margin-left: auto; 
    margin-right: auto;
}

#validateButtonContainer{
    text-align: center;
}

.validateButton{
    background-color: #ff0000;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }


